#imagen{ 
    width: 75%;
    display: flex;
    position: absolute;
    right: 12%;
    -webkit-border-radius: 18;
    -moz-border-radius: 18;
    -webkit-box-shadow: 6px 5px 24px #ff0000;
    -moz-box-shadow: 6px 5px 24px #ff0000;
    box-shadow: 6px 5px 24px #ff0000;
    border-radius: 18px;
}

a:link {
    color: black;
    decoloración none
}

#tit{
    text-align: center;
    font-family: cursive;
    font-size: 170%;
    color: #000000;
    text-decoration: none;
}

#boton{
    -webkit-border-radius: 18;
    -moz-border-radius: 18;
    border-radius: 18px;
    -webkit-box-shadow: 6px 5px 24px #e3231c;
    -moz-box-shadow: 6px 5px 24px #e3231c;
    box-shadow: 6px 5px 24px #e3231c;
    font-family: cursive;
    font-size: 27px;
    color: #000000;
    text-decoration: none;
    width: 10%;
    padding: 1%;
    right: 47%;
    position: absolute;
    top: 120%;
}


